# Virtuelle Umgebung
venv/

# Python Cache
__pycache__/
*.pyc

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Betriebssystem-Dateien
.DS_Store
Thumbs.db



# ML Model Files
*.pkl
!api/housing_pipeline.pkl

# PyTorch/Torchvision datasets (Week 10)
notebooks/data/
notebooks/data/**

# Model weights (falls vorhanden)
*.pth
*.pt

